@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.active {
  @apply text-green-600 underline underline-offset-8 transition-all ease-in-out duration-300;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pagination li {
  margin: 0 5px;
}
.pagination a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #000;
}
.pagination a:hover {
  background: #eee;
}
.pagination li.activePagination {
  background-color: rgb(38, 190, 38);
  border-radius: 4px;
  color: #fff;
}

.active-button {
  color: rgb(225, 26, 26);
}

.carousel .slide {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.carousel .slide.selected {
  opacity: 1;
}

.custom-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-card:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.myOverLay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.bg-img-2 {
  background-image: url("./assets/images/flying-flag.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.overLayColor {
  background-color: rgba(0, 0, 0, 0.6);
}
